<div style="padding: 10px;">
  <mat-form-field>
    <input matInput type="text" placeholder="Escribe un comentario"
           [(ngModel)]="newComment" (keyup.enter)="sendComment()">
  </mat-form-field>
  <button (click)="sendComment()" mat-flat-button color="primary">Enviar</button>

  <h2 *ngIf="comments">Comentarios</h2>

  <mat-spinner *ngIf="showSpinner; else showComments"></mat-spinner>

  <ng-template #showComments>
    <div *ngFor="let comment of comments">
      <span >{{comment.content}}</span>
      <br>
    </div>
  </ng-template>
</div>
